
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  margin-top: 5vh;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(19, 32px);
  grid-template-rows: 30px;
  /*border-collapse: collapse;*/
  justify-content: center;
}

.box {
  border: 1.5px solid black;
  margin-right: -1.5px;
  margin-bottom: -1.5px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* reset blue outline */
.box:focus {
  outline-width: 0;
}
